body {
  background-color: azure;
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 20px;
}

section {
  width: 33vw;
  margin: 0 auto;
}

/* css styled elements below to cover font styles, colors, padding and more */

html {
  height: 100%;
}

h1 {
  font-style: oblique;
  font-weight: bold;
  padding-top: 50px;
}

h3 {
  padding-top: 8px;
}

h4 {
  font-style: inherit;
}

hr {
  border-width: 5px;
  border-style: none;
  border-color: grey;
  border-top-style: dotted;
  width: 5%;
}

p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-style: initial;
  padding-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.price {
  font-weight: bold;
}

ul {
  display: table;
  margin: 0 auto;
}

button {
  padding: 5px 5px 5px 5px;
}

img {
  border-radius: 25px;
  border: 1px solid lightgray;
  padding: 5px;
  width: 200px;
  height: 150px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-collapse: collapse;
  border-width: 1px;
}

#contact th {
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

#contact td {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 2px 2px 2px 2px;
}

.btn-login {
  height: 30px;
  padding: 2px;
}

.btn-search {
  background-color: white;
}

.homepagelogo {
  height: 300px;
  width: 400px;
}

.item-pic:hover {
  transform: scale(1.2);
}

.navbar-brand {
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  padding: 0px;
}

.flexbox1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox1 .col {
  flex: 1;
}

.flexbox1 .col:nth-child(1) {
  order: 1;
}

.flexbox1 .col:nth-child(2) {
  order: 0;
}

.flexbox1 .col:nth-child(3) {
  order: 2;
}

.flexbox2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.flexbox2 .col {
  flex: 1;
}

.flexbox2 .col:nth-child(1) {
  order: 1;
}

.flexbox2 .col:nth-child(2) {
  order: 0;
}

.flexbox2 .col:nth-child(3) {
  order: 2;
}

/* item-pic id's called with the pound (or hash) sign */

#item-pic1 {
  filter: grayscale(100%);
}

#item-pic3 {
  filter: contrast(75%);
}
/* trolley icon  in navbar */
ion-icon {
  vertical-align: center;
}

/* Cart page css */
.form-group {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.cartTotalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}
